@import "./_mixins.scss";

.header {
	.nav {
		display: block;
		background-color: transparent;
		backdrop-filter: blur(5px);
	}

	&.transparent-nav {
		.nav {
			display: none;
		}

		.nav-burger {
			display: none;
		}
	}

	@keyframes slideInNameFromLeft {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0);
		}
	}

	@keyframes slideInTitleFromLeft {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0);
		}
	}

	.my-name {
		animation: 1s ease-out 0s 1 slideInNameFromLeft;
		font-size: 90px;
		font-weight: 700;
		position: absolute;
		color: #fff;
		top: 40%;
		left: 100px;

		@include breakpoint(xs) {
			font-size: 66px;
			line-height: 74px;
			left: 20px;
			top: 30%;
		}

		@include breakpoint(sm) {
			font-size: 110px;
			line-height: 120px;
			left: 20px;
			top: 30%;
		}

		@include breakpoint(landscapexs) {
			top: 80px;
			font-size: 66px;
			line-height: 74px;
			left: 120px;
		}
	}

	.my-title {
		animation: 2s ease-out 0s 1 slideInTitleFromLeft;
		font-size: 50px;
		position: absolute;
		color: #fff;
		top: 50%;
		left: 100px;

		@include breakpoint(xs) {
			font-size: 32px;
			line-height: 48px;
			left: 20px;
			top: 50%;
		}

		@include breakpoint(sm) {
			font-size: 70px;
			line-height: 80px;
			left: 20px;
			top: 55%;
		}

		@include breakpoint(landscapexs) {
			top: 160px;
			font-size: 32px;
			line-height: 48px;
			left: 120px;
		}
	}
}

.header-img {
	// background-image: url(../images/hero.jpg);
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: 50% 50%;
	background-color: #000;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	video {
		height: 100vh;

		@include breakpoint(xs) {
			margin-left: -100%;
		}
	}
}

#scroller a {
	padding-top: 60px;
}
#scroller a span {
	position: absolute;
	bottom: 40px;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}

#scroller a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: "";
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes sdb10 {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.prlx_one {
	width: 400px;
	height: 400px;
	display: block;
	background-image: url(../images/prlx_one.svg);
	background-repeat: no-repeat;
	position: fixed;
	opacity: 0;
}
