@import "./_mixins.scss";

.header {

    .nav {
        display: block;
        background-color: white;
        box-shadow: 0 0 10px #c1c1c1;
    }

    &.transparent-nav {
        .nav {
            display: none;
        }

        .nav-burger {
            display: none;
        }
    }

    .my-name {
        font-size: 90px;
        font-weight: 700;
        position: absolute;
        color: #fff;
        top: 100px;
        left: 100px;

        @include breakpoint(xs) {
            font-size: 72px;
            line-height: 86px;
            left: 20px;
        }
    }

    .my-title {
        font-size: 50px;
        position: absolute;
        color: #fff;
        top: 180px;
        left: 100px;

        @include breakpoint(xs) {
            font-size: 40px;
            line-height: 50px;
            left: 20px;
            top: 280px;
        }
    }
}

.header-img {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
	height: 100vh;
}

#scroller a {
	padding-top: 60px;
}
#scroller a span {
	position: absolute;
	bottom: 40px;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}

#scroller a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: "";
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes sdb10 {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
