@import "./_mixins.scss";

.card-plh {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.card--wrapp {
    position: relative;
    overflow: hidden;
    width: 100%;
    flex: 1 1 33.33%;
    // margin-bottom: -6px;

    @include breakpoint(xs) {
        flex: 1 1 100%;
    }

    @include breakpoint(sm) {
        flex: 1 1 50%;
        max-width: 50%;
    }

    @include breakpoint(md) {
        flex: 1 1 50%;
        max-width: 50%;
    }

    .card__aside {
        position: relative;
        height: auto;
        width: 100%;
        transition: all linear 0.4s;

        img {
            margin: auto;
            padding: 15% 0;
            width: 70%;
            height: 70%;
            display: block;
        }
    }

    .card {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 60px;
        transition: all ease-in 0.4s;
        text-align: center;

        &__title {
            margin-top: 48%;
            font-size: 40px;
            font-weight: 300;
            transition: all ease-in-out 0.4s;

            @include breakpoint(xs) {
                margin-top: 30%;
            }

            @include breakpoint(sm) {
                margin-top: 30%;
            }
        }

        &__subtitle,
        &__body,
        &__footer {
            transform: translateY(600px);
            transition: all ease-in 0.6s;
        }

        &.is-green {
            background-color: rgba(3, 108, 116, 0.9);
        }

        &.is-blue {
            background-color: rgba(24, 88, 131, 0.9);
        }

        &.is-red {
            background-color: rgba(136, 32, 24, 0.9);
        }

        &.is-yellow {
            background-color: rgba(203, 177, 29, 0.9);
        }

        &.is-black {
            background-color: rgba(1, 1, 1, 0.9);
        }

        &.is-orange {
            background-color: rgba(172, 100, 13, 0.9);
        }
    }

    &:hover {
        .card {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: all ease-in-out 0.4s;

            &__title {
                margin-top: 0;
                font-size: 40px;
                font-weight: 300;
                transition: all ease-in-out 0.6s;

                @include breakpoint(xs) {
                    margin-top: 0;
                    font-size: 28px;
                }

                @include breakpoint(sm) {
                    margin-top: 0;
                    font-size: 28px;
                }
            }

            &__subtitle,
            &__body,
            &__footer {
                transform: translateY(0);
                transition: all ease-in 0.4s;
                font-size: 95%;

                @include breakpoint(xs) {
                    font-size: 80%;
                }

                @include breakpoint(sm) {
                    font-size: 80%;
                }
            }

            &.is-green {
                background-color: rgba(3, 108, 116, 1);
            }

            &.is-blue {
                background-color: rgba(24, 88, 131, 1);
            }

            &.is-red {
                background-color: rgba(136, 32, 24, 1);
            }

            &.is-yellow {
                background-color: rgba(203, 177, 29, 1);
            }

            &.is-black {
                background-color: rgba(1, 1, 1, 1);
            }

            &.is-orange {
                background-color: rgba(172, 100, 13, 1);
            }
        }

        .card__aside {
            transition: all linear 0.4s;
        }
    }
}


//button defs

.button {
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    transition: all linear .2s;

    &:hover {
        transform: scale(1.1);
        transition: all linear .2s;
    }
}