@import "./_mixins.scss";

$navColor: #fff;
$navColorActive: #f0f0f0;

.nav {
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	display: block;

	@include breakpoint(xs) {
		height: 100%;
		left: -100%;
		transition: all 0.2s;

		&.is-visible {
			left: 0;
			transition: all 0.2s;
		}
	}

	@include breakpoint(sm) {
		height: 100%;
		left: -100%;
		transition: all 0.2s;

		&.is-visible {
			left: 0;
			transition: all 0.2s;
		}
	}
}

.nav-content {
	position: relative;
	display: flex;
	height: 60px;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	align-items: center;

	@include breakpoint(xs) {
		flex-direction: column;
	}

	@include breakpoint(sm) {
		flex-direction: column;
	}
}

.nav-items {
	display: inline-flex;
	list-style: none;
	justify-content: flex-start;
	padding: 0;
	margin: 0;

	@include breakpoint(xs) {
		flex-direction: column;
		width: 100%;
	}

	@include breakpoint(sm) {
		flex-direction: column;
		width: 100%;
	}
}

.nav-burger {
	position: fixed;
	z-index: 10;
	display: none;
	width: 30px;

	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: #c1c1c1;
		left: -9px;
		top: -8px;
		transition: all .5s;
    }
    
    &::after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
        height: 0;
        left: 32%;
        top: 44%;
        background-color: #333;
		border-radius: 100%;
		transition: all .5s;
	}

	.icon-bar {
		background: #333;
		width: 16px;
		height: 1px;
		display: block;
		transition: all 0.2s;
		margin: 5px 3px;
		transition: all .5s;
	}

	.top-bar {
		transform: rotate(0);
		transform-origin: 10% 10%;
	}

	.middle-bar {
		opacity: 1;
		width: 16px;
		position: relative;
	}

	.bottom-bar {
		transform: rotate(0);
		transform-origin: 10% 90%;
	}

	&.is-clicked {
        
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: #333;
            left: -29%;
            top: -33%;
            transition: all .5s;
        }

		.icon-bar {
            background: #fff;
            position: relative;
            z-index: 1;
		}

		.top-bar {
			transform: rotate(45deg);
			transform-origin: 10% 10%;
			width: 22px;
		}

		.middle-bar {
			opacity: 0;
		}

		.bottom-bar {
			transform: rotate(-45deg);
			transform-origin: 10% 90%;
			width: 22px;
		}
	}

	@include breakpoint(xs) {
		display: block;
		top: 20px;
		left: 20px;
	}

	@include breakpoint(sm) {
		display: block;
		top: 20px;
		left: 20px;
	}
}

.nav-item {
	position: relative;
	margin-bottom: 0;

	@include breakpoint(xs) {
		display: flex;

		a {
			width: 100%;

			&.active {
                background-color: #f0f0f0;
                color: #333;

				&::after {
					content: none;
				}
			}
		}
	}

	@include breakpoint(sm) {
		display: flex;

		a {
			width: 100%;

			&.active {
                background-color: #f0f0f0;
                color: #333;

				&::after {
					content: none;
				}
			}
		}
	}

	a {
		padding: 20px;
		color: $navColor;
		margin-bottom: 0;
		cursor: pointer;
		text-transform: uppercase;
	}
}

.nav-item > .active {
	color: #f0f0f0;
	font-weight: 500;

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: -18px;
		left: 0;
		background-color: #f0f0f0;
	}
}

.nav-name {
	font-weight: 900;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 30px;
	color: $navColor;

	@include breakpoint(xs) {
		height: 100px;
		line-height: 100px;
		margin-right: 0;
	}

	@include breakpoint(sm) {
		height: 100px;
		line-height: 100px;
		margin-right: 0;
	}
}

.nav-logo {
	height: 40px;
	width: auto;
	margin-bottom: 0;
}
