@import "./_mixins.scss";

.section-plh {
    &:nth-child(odd) {
        
        .wsa-section {
            flex-direction: row-reverse;

            DIV:nth-child(1) {
                margin-right: 0;
            }

            DIV:nth-child(2) {
                margin-right: 40px;
            }
        }
    }
}

.section {
    display: block;
    width: 100%;
    padding: 100px;

    @include breakpoint(xs) {
        padding: 100px 64px;
    }

    &.is-green {
        background-color: #8faa9d;

        .section-content {
            color: #fff;
            text-align: center;
        }
        
        @include breakpoint(xs) {
            padding: 100px 20px;
        }
    }

    &.is-turquoise {
        background-color: #6094a3;
        z-index: 1;
        position: relative;

        .section-content {
            color: #fff;
        }
    }

    &.is-black {
        background-color: #000;

        .section-content {
            color: #fff;
        }
    }

    &.is-blue {
        background-color: #1e2532;
        padding: 0;

        .section-content {
            color: #fff;
            max-width: unset;
        }
    }

    &.is-gray {
        background-color: #737777;

        .section-content {
            color: #fff;
        }

        @include breakpoint(xs) {
            padding: 100px 20px;
        }
    }
}

.section-content {
    width: 100%;
    max-width: 960px;
    font-size: 18px;
    line-height: 24px;
    margin: auto;

    .wsa-section {

        DIV:nth-child(1) {
            margin-right: 40px;
        }

        DIV:nth-child(2) {
            margin-right: 0;
        }
    }

    .wsa-section-title {
        font-size: 72px;
        font-weight: 300;
        margin: 60px 0;
        padding-bottom: 20px;
        position: relative;
    }
}

.wsa-section {
    display: flex;

    @include breakpoint(xs) {
        flex-direction: column;
    }

    &:nth-child(odd) {
        flex-direction: row-reverse;
    }

    &-headings {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
    }

    &-text {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;

        @include breakpoint(xs) {
            margin: 60px 0;
        }
    }
}

.wsa-h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
    word-break: break-word;
}

.wsa-h3 {
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    word-break: break-word;
}

.wsa-p1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    word-break: break-word;
}

@keyframes blinkText {
    0% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.1;
    }
    25% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0.2;
    }
    75% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
