@import "./_mixins.scss";

.section {
    display: block;
    width: 100%;
    padding: 100px;

    @include breakpoint(xs) {
        padding: 100px 64px;
    }

    &.is-green {
        background-color: #8FAA9D;

        .section-content {
            color: #fff;
        }
    }

    &.is-turquoise {
        background-color: #6094A3;

        .section-content {
            color: #fff;
        }
    }

    &.is-black {
        background-color: #000;

        .section-content {
            color: #fff;
        }
    }

    &.is-blue {
        background-color: #1E2532;

        .section-content {
            color: #fff;
        }
    }

    &.is-gray {
        background-color: #737777;

        .section-content {
            color: #fff;
        }
    }
}

.section-content {
    width: 100%;
    max-width: 1200px;
    font-size: 18px;
    line-height: 24px;
}